In [75]:
import pandas as pd
from ast import literal_eval
import statistics as st
import numpy as np

In [143]:
df_equipes = pd.read_csv('stats-equipes-par-mois.csv', sep=";") 
df_match = pd.read_csv('stats-matchs.csv', sep=";")
df_result = pd.read_csv('tableaupython.csv', sep=";")

In [144]:
display(df_equipes)
display(df_match)
display(df_result)

,Unnamed: 0,Atlanta Hawks,Boston Celtics,Brooklyn Nets,Charlotte Hornets,Chicago Bulls,Cleveland Cavaliers,Dallas Mavericks,Denver Nuggets,Detroit Pistons,...,Oklahoma City Thunder,Orlando Magic,Philadelphia 76ers,Phoenix Suns,Portland Trail Blazers,Sacramento Kings,San Antonio Spurs,Toronto Raptors,Utah Jazz,Washington Wizards
0,"[2005, 10]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2005, 11]","{'GP': '14', 'W': '2', 'L': '12', 'WIN%': '.14...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '13', 'W': '7', 'L': '6', 'WIN%': '.538...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '16', 'W': '8', 'L': '8', 'WIN%': '.500...","{'GP': '13', 'W': '11', 'L': '2', 'WIN%': '.84...",...,"{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '16', 'W': '8', 'L': '8', 'WIN%': '.500...","{'GP': '13', 'W': '8', 'L': '5', 'WIN%': '.615...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '14', 'W': '11', 'L': '3', 'WIN%': '.78...","{'GP': '16', 'W': '1', 'L': '15', 'WIN%': '.06...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500..."
2,"[2005, 12]","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '14', 'W': '8', 'L': '6', 'WIN%': '.571...","{'GP': '16', 'W': '12', 'L': '4', 'WIN%': '.75...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '15', 'W': '13', 'L': '2', 'WIN%': '.86...",...,"{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '13', 'W': '5', 'L': '8', 'WIN%': '.385...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '16', 'W': '11', 'L': '5', 'WIN%': '.68...","{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '17', 'W': '13', 'L': '4', 'WIN%': '.76...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357..."
3,"[2006, 1]","{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '16', 'W': '6', 'L': '10', 'WIN%': '.37...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '16', 'W': '1', 'L': '15', 'WIN%': '.06...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '15', 'W': '13', 'L': '2', 'WIN%': '.86...","{'GP': '16', 'W': '11', 'L': '5', 'WIN%': '.68...","{'GP': '15', 'W': '13', 'L': '2', 'WIN%': '.86...",...,"{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '16', 'W': '10', 'L': '6', 'WIN%': '.62...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '16', 'W': '7', 'L': '9', 'WIN%': '.438...","{'GP': '14', 'W': '11', 'L': '3', 'WIN%': '.78...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600..."
4,"[2006, 2]","{'GP': '12', 'W': '6', 'L': '6', 'WIN%': '.500...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '13', 'W': '8', 'L': '5', 'WIN%': '.615...","{'GP': '12', 'W': '4', 'L': '8', 'WIN%': '.333...","{'GP': '12', 'W': '5', 'L': '7', 'WIN%': '.417...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '11', 'W': '10', 'L': '1', 'WIN%': '.90...","{'GP': '10', 'W': '5', 'L': '5', 'WIN%': '.500...","{'GP': '13', 'W': '10', 'L': '3', 'WIN%': '.76...",...,"{'GP': '14', 'W': '4', 'L': '10', 'WIN%': '.28...","{'GP': '14', 'W': '2', 'L': '12', 'WIN%': '.14...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '10', 'W': '9', 'L': '1', 'WIN%': '.900...","{'GP': '13', 'W': '2', 'L': '11', 'WIN%': '.15...","{'GP': '11', 'W': '7', 'L': '4', 'WIN%': '.636...","{'GP': '11', 'W': '9', 'L': '2', 'WIN%': '.818...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '11', 'W': '6', 'L': '5', 'WIN%': '.545...","{'GP': '12', 'W': '8', 'L': '4', 'WIN%': '.667..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"[2018, 12]","{'GP': '13', 'W': '6', 'L': '7', 'WIN%': '.462...","{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '16', 'W': '4', 'L': '12', 'WIN%': '.25...","{'GP': '16', 'W': '7', 'L': '9', 'WIN%': '.438...","{'GP': '12', 'W': '8', 'L': '4', 'WIN%': '.667...","{'GP': '15', 'W': '4', 'L': '11', 'WIN%': '.26...",...,"{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '13', 'W': '5', 'L': '8', 'WIN%': '.385...","{'GP': '13', 'W': '7', 'L': '6', 'WIN%': '.538...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '16', 'W': '11', 'L': '5', 'WIN%': '.68...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400..."
94,"[2019, 1]","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '15', 'W': '2', 'L': '13', 'WIN%': '.13...","{'GP': '15', 'W': '3', 'L': '12', 'WIN%': '.20...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '16', 'W': '12', 'L': '4', 'WIN%': '.75...","{'GP': '16', 'W': '6', 'L': '10', 'WIN%': '.37...",...,"{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '15', 'W': '2', 'L': '13', 'WIN%': '.13...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '10', 'L': '5', 'WIN%': '.66...","{'GP': '15', 'W': '10', 'L': '5', 'WIN%': '.66...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '14', 'W': '8', 'L': '6', 'WIN%': '.571..."
95,"[2019, 2]","{'GP': '12', 'W': '5', 'L': '7', 'WIN%': '.417...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '10', 'W': '4', 'L': '6', 'WIN%': '.400...","{'GP': '11', 'W': '4', 'L': '7', 'WIN%': '.364...","{'GP': '10', 'W': '5', 'L': '5', 'WIN%': '.500...","{'GP': '10', 'W': '4', 'L': '6', 'WIN%': '.400...","{'GP': '10', 'W': '4', 'L': '6', 'WIN%': '.400...","{'GP': '11', 'W': '7', 'L': '4', 'WIN%': '.636...","{'GP': '10', 'W': '7', 'L': '3', 'WIN%': '.700...",...,"{'GP': '11', 'W': '6', 'L': '5', 'WIN%': '.545...","{'GP': '11', 'W': '8', 'L': '3', 'WIN%': '.727...","{'GP': '10', 'W': '6', 'L': '4', 'WIN%': '.600...","{'GP': '9', 'W': '1', 'L': '8', 'WIN%': '.111'...","{'GP': '9', 'W': '6', 'L': '3', 'WIN%': '.667'...","{'GP': '10', 'W': '5', 'L': '5', 'WIN%': '.500...","{'GP': '10', 'W': '3', 'L': '7', 'WIN%': '.300...","{'GP': '9', 'W': '8', 'L': '1', 'WIN%': '.889'...","{'GP': '9', 'W': '6', 'L': '3', 'WIN%': '.667'...","{'GP': '10', 'W': '3', 'L': '7', 'WIN%': '.300..."
96,"[2019, 3]","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '4', 'L': '11', 'WIN%': '.26...","{'GP': '15', 'W': '4', 'L': '11', 'WIN%': '.26...","{'GP': '15', 'W': '3', 'L': '12', 'WIN%': '.20...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '16', 'W': '10', 'L': '6', 'WIN%': '.62...",...,"{'GP': '16', 'W': '6', 'L': '10', 'WIN%': '.37...","{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '15', 'W': '10', 'L': '5', 'WIN%': '.66...","{'GP': '16', 'W': '7', 'L': '9', 'WIN%': '.438...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '17', 'W': '7', 'L': '10', 'WIN%': '.41..."
97,"[2019, 4]","{'GP': '5', 'W': '1', 'L': '4', 'WIN%': '.200'...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '5', 'W': '3', 'L': '2', 'WIN%': '.600'...","{'GP': '6', 'W': '4', 'L': '2', 'WIN%': '.667'...","{'GP': '5', 'W': '1', 'L': '4', 'WIN%': '.200'...","{'GP': '5', 'W': '0', 'L': '5', 'WIN%': '.000'...","{'GP': '6', 'W': '3', 'L': '3', 'WIN%': '.500'...","{'GP': '6', 'W': '3', 'L': '3', 'WIN%': '.500'...","{'GP': '6', 'W': '2', 'L': '4', 'WIN%': '.333'...",...,"{'GP': '5', 'W': '5', 'L': '0', 'WIN%': '1.000...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '6', 'W': '2', 'L': '4', 'WIN%': '.333'...","{'GP': '5', 'W': '2', 'L': '3', 'WIN%': '.400'...","{'GP': '6', 'W': '5', 'L': '1', 'WIN%': '.833'...","{'GP': '5', 'W': '1', 'L': '4', 'WIN%': '.200'...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '6', 'W': '4', 'L': '2', 'WIN%': '.667'...","{'GP': '4', 'W': '0', 'L': '4', 'WIN%': '.000'..."

,Unnamed: 0,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,BoxScore,OT,Attend.,Notes,Y-M
0,0,"Tue, Nov 1, 2005",7:00p,Milwaukee Bucks,117,Philadelphia 76ers,108,Box Score,OT,"17,705",NaN,"[2005, 11]"
1,1,"Tue, Nov 1, 2005",8:00p,Sacramento Kings,67,New Orleans Pelicans,93,Box Score,NaN,"19,163",NaN,"[2005, 11]"
2,2,"Tue, Nov 1, 2005",8:00p,Denver Nuggets,91,San Antonio Spurs,102,Box Score,NaN,"18,797",NaN,"[2005, 11]"
3,3,"Tue, Nov 1, 2005",10:30p,Dallas Mavericks,111,Phoenix Suns,108,Box Score,2OT,"17,961",NaN,"[2005, 11]"
4,4,"Wed, Nov 2, 2005",7:00p,New Orleans Pelicans,87,Cleveland Cavaliers,109,Box Score,NaN,"20,562",NaN,"[2005, 11]"
...,...,...,...,...,...,...,...,...,...,...,...,...
16974,16974,"Wed, Apr 10, 2019",8:00p,Chicago Bulls,109,Philadelphia 76ers,125,Box Score,NaN,"20,197",NaN,"[2019, 4]"
16975,16975,"Wed, Apr 10, 2019",8:00p,Dallas Mavericks,94,San Antonio Spurs,105,Box Score,NaN,"18,629",NaN,"[2019, 4]"
16976,16976,"Wed, Apr 10, 2019",10:30p,Minnesota Timberwolves,95,Denver Nuggets,99,Box Score,NaN,"16,332",NaN,"[2019, 4]"
16977,16977,"Wed, Apr 10, 2019",10:30p,Utah Jazz,137,LA Clippers,143,Box Score,OT,"17,655",NaN,"[2019, 4]"
16978,16978,"Wed, Apr 10, 2019",10:30p,Sacramento Kings,131,Portland Trail Blazers,136,Box Score,NaN,"19,814",NaN,"[2019, 4]"

    Annee                  est                  ouest
0    2005      Detroit Pistons      San Antonio Spurs
1    2006      Detroit Pistons       Dallas Mavericks
2    2007       Boston Celtics     Los Angeles Lakers
3    2008  Cleveland Cavaliers     Los Angeles Lakers
4    2009  Cleveland Cavaliers     Los Angeles Lakers
5    2010        Chicago Bulls      San Antonio Spurs
6    2011       Chicago Bulls       San Antonio Spurs
7    2012           Miami Heat  Oklahoma City Thunder
8    2013       Indiana Pacers      San Antonio Spurs
9    2014        Atlanta Hawks        Houston Rockets
10   2015  Cleveland Cavaliers  Golden State Warriors
11   2016       Boston Celtics  Golden State Warriors
12   2017      Toronto Raptors        Houston Rockets
13   2018      Milwaukee Bucks  Golden State Warriors

In [22]:
df_match.describe()

         Unnamed: 0           PTS         PTS.1
count  16979.000000  16979.000000  16979.000000
mean    8489.000000     99.822133    102.724306
std     4901.559446     12.602612     12.640918
min        0.000000     54.000000     59.000000
25%     4244.500000     91.000000     94.000000
50%     8489.000000     99.000000    102.000000
75%    12733.500000    108.000000    111.000000
max    16978.000000    168.000000    168.000000

In [121]:
#donne moyenne de points marqué à l'éxtérieur (resp. domicile) chaque année (0 = 2005 etc ...), sortie d'après.
listannsdom = []
list = []

for j in range(14) :
    for i in range(16979):
        if literal_eval(df_match["Y-M"][i])[0] == 2005+j:
            list.append(df_match['PTS'][i])
    listannsdom.append(list)
    list = []
    
listannsext = []
listtt = []

for j in range(14) :
    for i in range(16979):
        if literal_eval(df_match["Y-M"][i])[0] == 2005+j:
            listtt.append(df_match['PTS.1'][i])
    listannsext.append(listtt)
    listtt = []


print("test")

means = []
for i in range(len(listannsdom)):
    mean1 = st.fmean(listannsdom[i])
    means.append(mean1)

meanss = []
for i in range(len(listannsext)):
    mean1 = st.fmean(listannsext[i])
    meanss.append(mean1)

print(means)
print(meanss)

test
[94.7926267281106, 95.96485623003196, 97.4910569105691, 98.25922953451044, 98.57920389926889, 98.82566585956417, 98.0410447761194, 95.20863309352518, 97.69410815173526, 99.89317269076305, 98.93457189014539, 102.6327185244587, 104.47634069400631, 107.28444084278769]
[97.5552995391705, 99.6261980830671, 100.15528455284553, 101.47191011235955, 102.17465475223396, 101.65617433414043, 101.03855721393035, 98.2251798561151, 100.38902340597255, 102.47469879518073, 101.53150242326333, 105.4803528468324, 107.29495268138801, 109.76499189627229]

In [196]:
years = []
for i in range(14):
    years.append(2005+i)

colname = ['Moyenne de points marqués chaque année (domicile)'] 
colname2 = ['Moyenne de points marqués chaque année (extérieur)'] 

meanPTS = pd.DataFrame(means, years, colname)
meanPTS1 = pd.DataFrame(meanss, years, colname2)



display(meanPTS)
display(meanPTS1)

      Moyenne de points marqués chaque année (domicile)
2005                                          94.792627
2006                                          95.964856
2007                                          97.491057
2008                                          98.259230
2009                                          98.579204
2010                                          98.825666
2011                                          98.041045
2012                                          95.208633
2013                                          97.694108
2014                                          99.893173
2015                                          98.934572
2016                                         102.632719
2017                                         104.476341
2018                                         107.284441

      Moyenne de points marqués chaque année (extérieur)
2005                                          97.555300
2006                                          99.626198
2007                                         100.155285
2008                                         101.471910
2009                                         102.174655
2010                                         101.656174
2011                                         101.038557
2012                                          98.225180
2013                                         100.389023
2014                                         102.474699
2015                                         101.531502
2016                                         105.480353
2017                                         107.294953
2018                                         109.764992

In [139]:
#donne nb de points moyens marqués par match par les équipes 1ères de leurs conférences en 2007/2008
list2 = []
for i in range(16979):
        if (literal_eval(df_match["Y-M"][i])[0] == 2007 and literal_eval(df_match["Y-M"][i])[1] >= 9) or (literal_eval(df_match["Y-M"][i])[0] == 2008 and literal_eval(df_match["Y-M"][i])[1] <= 5) :
                if df_match['Visitor/Neutral'][i] == 'Utah Jazz':
                    list2.append(df_match['PTS'][i])
                elif df_match['Home/Neutral'][i] == 'Utah Jazz':
                    list2.append(df_match['PTS.1'][i])
mean2007ouest = st.fmean(list2)

print(len(list2))
print(mean2007ouest)

list2 = []
for i in range(16979):
        if (literal_eval(df_match["Y-M"][i])[0] == 2007 and literal_eval(df_match["Y-M"][i])[1] >= 9) or (literal_eval(df_match["Y-M"][i])[0] == 2008 and literal_eval(df_match["Y-M"][i])[1] <= 5) :
                if df_match['Visitor/Neutral'][i] == 'Boston Celtics':
                    list2.append(df_match['PTS'][i])
                elif df_match['Home/Neutral'][i] == 'Boston Celtics':
                    list2.append(df_match['PTS.1'][i])
mean2005est = st.fmean(list2)
print(len(list2))
print(mean2007est)

82
106.21951219512195
82
100.54878048780488

In [187]:
#donne nb de points moyens marqués par match par les équipes 1ères de leurs conférences sur toutes les saisons
#2011 est exclu car la saison est tronquée par une grève des joueurs

meanEST = []
meanOUEST = []

for i in range(14):
        if i != 6:
            list2 = []
            list3 = []
            for k in range(16979):
                if (literal_eval(df_match["Y-M"][k])[0] == 2005+i and literal_eval(df_match["Y-M"][k])[1] >= 9) or (literal_eval(df_match["Y-M"][k])[0] == 2005+i and literal_eval(df_match["Y-M"][k])[1] <= 5):
                        if df_match['Visitor/Neutral'][k] == df_result['ouest'][i]:
                            list2.append(df_match['PTS'][k])
                        elif df_match['Home/Neutral'][k] == df_result['ouest'][i]:
                            list2.append(df_match['PTS.1'][k])
                        if df_match['Visitor/Neutral'][k] == df_result['est'][i]:
                            list3.append(df_match['PTS'][k])
                        elif df_match['Home/Neutral'][k] == df_result['est'][i]:
                            list3.append(df_match['PTS.1'][k])
            print('year',2005+i,' ',len(list2),' ',df_result['ouest'][i])
            print('year',2005+i,' ',len(list3),' ',df_result['est'][i])
            meanEST.append(st.fmean(list2))
            meanOUEST.append(st.fmean(list3))

    
print(meanEST)
print(meanOUEST)

year 2005   31   San Antonio Spurs
year 2005   28   Detroit Pistons
year 2006   83   Dallas Mavericks
year 2006   83   Detroit Pistons
year 2007   81   Los Angeles Lakers
year 2007   82   Boston Celtics
year 2008   82   Los Angeles Lakers
year 2008   82   Cleveland Cavaliers
year 2009   83   Los Angeles Lakers
year 2009   85   Cleveland Cavaliers
year 2010   84   San Antonio Spurs
year 2010   83   Chicago Bulls
year 2012   91   Oklahoma City Thunder
year 2012   91   Miami Heat
year 2013   81   San Antonio Spurs
year 2013   80   Indiana Pacers
year 2014   79   Houston Rockets
year 2014   81   Atlanta Hawks
year 2015   84   Golden State Warriors
year 2015   80   Cleveland Cavaliers
year 2016   84   Golden State Warriors
year 2016   84   Boston Celtics
year 2017   82   Houston Rockets
year 2017   84   Toronto Raptors
year 2018   83   Golden State Warriors
year 2018   83   Milwaukee Bucks
[96.54838709677419, 98.80722891566265, 104.38271604938272, 108.8780487804878, 105.6867469879518, 102.64285714285714, 104.06593406593407, 102.4320987654321, 105.9113924050633, 112.19047619047619, 116.05952380952381, 115.46341463414635, 113.78313253012048]
[99.35714285714286, 96.2289156626506, 96.36585365853658, 98.63414634146342, 99.94117647058823, 100.26506024096386, 99.65934065934066, 97.3125, 100.55555555555556, 102.4875, 106.88095238095238, 106.89285714285714, 111.53012048192771]

In [204]:
years = []
for i in range(6):
    years.append(2005+i)
    
for i in range(7,14):
    years.append(2005+i)
    
colname = ['Moyenne de points marqués chaque année par le premier du championnat (est)'] 
colname2 = ['Moyenne de points marqués chaque année par le premier du championnat (ouest)'] 

mean3 = pd.DataFrame(meanEST, years, colname)
mean4 = pd.DataFrame(meanOUEST, years, colname2)



display(mean3)
display(mean4)

      Moyenne de points marqués chaque année par le premier du championnat (est)
2005                                          96.548387
2006                                          98.807229
2007                                         104.382716
2008                                         108.878049
2009                                         105.686747
2010                                         102.642857
2012                                         104.065934
2013                                         102.432099
2014                                         105.911392
2015                                         112.190476
2016                                         116.059524
2017                                         115.463415
2018                                         113.783133

      Moyenne de points marqués chaque année par le premier du championnat (ouest)
2005                                          99.357143
2006                                          96.228916
2007                                          96.365854
2008                                          98.634146
2009                                          99.941176
2010                                         100.265060
2012                                          99.659341
2013                                          97.312500
2014                                         100.555556
2015                                         102.487500
2016                                         106.880952
2017                                         106.892857
2018                                         111.530120