#fichier regroupant tous les codes liés aux statistiques descriptives des dataframes obtenus

In [1]:
#import des répertoires dont on a besoin
import pandas as pd
from ast import literal_eval
import statistics as st
import numpy as np
from io import StringIO

In [4]:
#on charge les dataframe qu'on va utiliser
df_equipes = pd.read_csv('stats-equipes-par-mois.csv', engine="python", sep=";|\r" , header= 0)
df_match = pd.read_csv('stats-matchs.csv', sep=";")
df_result = pd.read_csv('tableaupython.csv', sep=";") #correspond au dataframe stockant les premiers de chaque saison régulière de 2005 à 2019

In [152]:
#cette cellulle est là car il peut y avoir des problèmes avec la fonction mean selon la version de statistics utilisée
if ('fmean' in dir(st)):
    haveFmean = True
else :
    haveFmean = False
    
def mean(x) :
    if (haveFmean) :
        return st.fmean(x)
    else :
        return st.mean(x)

In [5]:
#on visualise ces dataframe

display(df_equipes)
display(df_match)
display(df_result)

,Unnamed: 0,Atlanta Hawks,Boston Celtics,Brooklyn Nets,Charlotte Hornets,Chicago Bulls,Cleveland Cavaliers,Dallas Mavericks,Denver Nuggets,Detroit Pistons,...,Oklahoma City Thunder,Orlando Magic,Philadelphia 76ers,Phoenix Suns,Portland Trail Blazers,Sacramento Kings,San Antonio Spurs,Toronto Raptors,Utah Jazz,Washington Wizards
0,"[2005, 10]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2005, 11]","{'GP': '14', 'W': '2', 'L': '12', 'WIN%': '.14...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '13', 'W': '7', 'L': '6', 'WIN%': '.538...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '16', 'W': '8', 'L': '8', 'WIN%': '.500...","{'GP': '13', 'W': '11', 'L': '2', 'WIN%': '.84...",...,"{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '16', 'W': '8', 'L': '8', 'WIN%': '.500...","{'GP': '13', 'W': '8', 'L': '5', 'WIN%': '.615...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '14', 'W': '11', 'L': '3', 'WIN%': '.78...","{'GP': '16', 'W': '1', 'L': '15', 'WIN%': '.06...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500..."
2,"[2005, 12]","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '14', 'W': '8', 'L': '6', 'WIN%': '.571...","{'GP': '16', 'W': '12', 'L': '4', 'WIN%': '.75...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '15', 'W': '13', 'L': '2', 'WIN%': '.86...",...,"{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '13', 'W': '5', 'L': '8', 'WIN%': '.385...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '16', 'W': '11', 'L': '5', 'WIN%': '.68...","{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '17', 'W': '13', 'L': '4', 'WIN%': '.76...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357..."
3,"[2006, 1]","{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '16', 'W': '6', 'L': '10', 'WIN%': '.37...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '16', 'W': '1', 'L': '15', 'WIN%': '.06...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '15', 'W': '13', 'L': '2', 'WIN%': '.86...","{'GP': '16', 'W': '11', 'L': '5', 'WIN%': '.68...","{'GP': '15', 'W': '13', 'L': '2', 'WIN%': '.86...",...,"{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '16', 'W': '10', 'L': '6', 'WIN%': '.62...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '16', 'W': '7', 'L': '9', 'WIN%': '.438...","{'GP': '14', 'W': '11', 'L': '3', 'WIN%': '.78...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600..."
4,"[2006, 2]","{'GP': '12', 'W': '6', 'L': '6', 'WIN%': '.500...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '13', 'W': '8', 'L': '5', 'WIN%': '.615...","{'GP': '12', 'W': '4', 'L': '8', 'WIN%': '.333...","{'GP': '12', 'W': '5', 'L': '7', 'WIN%': '.417...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '11', 'W': '10', 'L': '1', 'WIN%': '.90...","{'GP': '10', 'W': '5', 'L': '5', 'WIN%': '.500...","{'GP': '13', 'W': '10', 'L': '3', 'WIN%': '.76...",...,"{'GP': '14', 'W': '4', 'L': '10', 'WIN%': '.28...","{'GP': '14', 'W': '2', 'L': '12', 'WIN%': '.14...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '10', 'W': '9', 'L': '1', 'WIN%': '.900...","{'GP': '13', 'W': '2', 'L': '11', 'WIN%': '.15...","{'GP': '11', 'W': '7', 'L': '4', 'WIN%': '.636...","{'GP': '11', 'W': '9', 'L': '2', 'WIN%': '.818...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '11', 'W': '6', 'L': '5', 'WIN%': '.545...","{'GP': '12', 'W': '8', 'L': '4', 'WIN%': '.667..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"[2018, 12]","{'GP': '13', 'W': '6', 'L': '7', 'WIN%': '.462...","{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '16', 'W': '4', 'L': '12', 'WIN%': '.25...","{'GP': '16', 'W': '7', 'L': '9', 'WIN%': '.438...","{'GP': '12', 'W': '8', 'L': '4', 'WIN%': '.667...","{'GP': '15', 'W': '4', 'L': '11', 'WIN%': '.26...",...,"{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '13', 'W': '5', 'L': '8', 'WIN%': '.385...","{'GP': '13', 'W': '7', 'L': '6', 'WIN%': '.538...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '16', 'W': '11', 'L': '5', 'WIN%': '.68...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400..."
94,"[2019, 1]","{'GP': '14', 'W': '5', 'L': '9', 'WIN%': '.357...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '14', 'W': '6', 'L': '8', 'WIN%': '.429...","{'GP': '15', 'W': '2', 'L': '13', 'WIN%': '.13...","{'GP': '15', 'W': '3', 'L': '12', 'WIN%': '.20...","{'GP': '15', 'W': '6', 'L': '9', 'WIN%': '.400...","{'GP': '16', 'W': '12', 'L': '4', 'WIN%': '.75...","{'GP': '16', 'W': '6', 'L': '10', 'WIN%': '.37...",...,"{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '16', 'W': '5', 'L': '11', 'WIN%': '.31...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '15', 'W': '2', 'L': '13', 'WIN%': '.13...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '10', 'L': '5', 'WIN%': '.66...","{'GP': '15', 'W': '10', 'L': '5', 'WIN%': '.66...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '14', 'W': '8', 'L': '6', 'WIN%': '.571..."
95,"[2019, 2]","{'GP': '12', 'W': '5', 'L': '7', 'WIN%': '.417...","{'GP': '11', 'W': '5', 'L': '6', 'WIN%': '.455...","{'GP': '10', 'W': '4', 'L': '6', 'WIN%': '.400...","{'GP': '11', 'W': '4', 'L': '7', 'WIN%': '.364...","{'GP': '10', 'W': '5', 'L': '5', 'WIN%': '.500...","{'GP': '10', 'W': '4', 'L': '6', 'WIN%': '.400...","{'GP': '10', 'W': '4', 'L': '6', 'WIN%': '.400...","{'GP': '11', 'W': '7', 'L': '4', 'WIN%': '.636...","{'GP': '10', 'W': '7', 'L': '3', 'WIN%': '.700...",...,"{'GP': '11', 'W': '6', 'L': '5', 'WIN%': '.545...","{'GP': '11', 'W': '8', 'L': '3', 'WIN%': '.727...","{'GP': '10', 'W': '6', 'L': '4', 'WIN%': '.600...","{'GP': '9', 'W': '1', 'L': '8', 'WIN%': '.111'...","{'GP': '9', 'W': '6', 'L': '3', 'WIN%': '.667'...","{'GP': '10', 'W': '5', 'L': '5', 'WIN%': '.500...","{'GP': '10', 'W': '3', 'L': '7', 'WIN%': '.300...","{'GP': '9', 'W': '8', 'L': '1', 'WIN%': '.889'...","{'GP': '9', 'W': '6', 'L': '3', 'WIN%': '.667'...","{'GP': '10', 'W': '3', 'L': '7', 'WIN%': '.300..."
96,"[2019, 3]","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '8', 'L': '7', 'WIN%': '.533...","{'GP': '14', 'W': '7', 'L': '7', 'WIN%': '.500...","{'GP': '15', 'W': '7', 'L': '8', 'WIN%': '.467...","{'GP': '15', 'W': '4', 'L': '11', 'WIN%': '.26...","{'GP': '15', 'W': '4', 'L': '11', 'WIN%': '.26...","{'GP': '15', 'W': '3', 'L': '12', 'WIN%': '.20...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '16', 'W': '10', 'L': '6', 'WIN%': '.62...",...,"{'GP': '16', 'W': '6', 'L': '10', 'WIN%': '.37...","{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '14', 'W': '9', 'L': '5', 'WIN%': '.643...","{'GP': '15', 'W': '5', 'L': '10', 'WIN%': '.33...","{'GP': '15', 'W': '10', 'L': '5', 'WIN%': '.66...","{'GP': '16', 'W': '7', 'L': '9', 'WIN%': '.438...","{'GP': '14', 'W': '10', 'L': '4', 'WIN%': '.71...","{'GP': '15', 'W': '9', 'L': '6', 'WIN%': '.600...","{'GP': '15', 'W': '11', 'L': '4', 'WIN%': '.73...","{'GP': '17', 'W': '7', 'L': '10', 'WIN%': '.41..."
97,"[2019, 4]","{'GP': '5', 'W': '1', 'L': '4', 'WIN%': '.200'...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '5', 'W': '3', 'L': '2', 'WIN%': '.600'...","{'GP': '6', 'W': '4', 'L': '2', 'WIN%': '.667'...","{'GP': '5', 'W': '1', 'L': '4', 'WIN%': '.200'...","{'GP': '5', 'W': '0', 'L': '5', 'WIN%': '.000'...","{'GP': '6', 'W': '3', 'L': '3', 'WIN%': '.500'...","{'GP': '6', 'W': '3', 'L': '3', 'WIN%': '.500'...","{'GP': '6', 'W': '2', 'L': '4', 'WIN%': '.333'...",...,"{'GP': '5', 'W': '5', 'L': '0', 'WIN%': '1.000...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '6', 'W': '2', 'L': '4', 'WIN%': '.333'...","{'GP': '5', 'W': '2', 'L': '3', 'WIN%': '.400'...","{'GP': '6', 'W': '5', 'L': '1', 'WIN%': '.833'...","{'GP': '5', 'W': '1', 'L': '4', 'WIN%': '.200'...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '5', 'W': '4', 'L': '1', 'WIN%': '.800'...","{'GP': '6', 'W': '4', 'L': '2', 'WIN%': '.667'...","{'GP': '4', 'W': '0', 'L': '4', 'WIN%': '.000'..."

,Unnamed: 0,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,BoxScore,OT,Attend.,Notes,Y-M
0,0,"Tue, Nov 1, 2005",7:00p,Milwaukee Bucks,117,Philadelphia 76ers,108,Box Score,OT,"17,705",NaN,"[2005, 11]"
1,1,"Tue, Nov 1, 2005",8:00p,Sacramento Kings,67,New Orleans Pelicans,93,Box Score,NaN,"19,163",NaN,"[2005, 11]"
2,2,"Tue, Nov 1, 2005",8:00p,Denver Nuggets,91,San Antonio Spurs,102,Box Score,NaN,"18,797",NaN,"[2005, 11]"
3,3,"Tue, Nov 1, 2005",10:30p,Dallas Mavericks,111,Phoenix Suns,108,Box Score,2OT,"17,961",NaN,"[2005, 11]"
4,4,"Wed, Nov 2, 2005",7:00p,New Orleans Pelicans,87,Cleveland Cavaliers,109,Box Score,NaN,"20,562",NaN,"[2005, 11]"
...,...,...,...,...,...,...,...,...,...,...,...,...
16974,16974,"Wed, Apr 10, 2019",8:00p,Chicago Bulls,109,Philadelphia 76ers,125,Box Score,NaN,"20,197",NaN,"[2019, 4]"
16975,16975,"Wed, Apr 10, 2019",8:00p,Dallas Mavericks,94,San Antonio Spurs,105,Box Score,NaN,"18,629",NaN,"[2019, 4]"
16976,16976,"Wed, Apr 10, 2019",10:30p,Minnesota Timberwolves,95,Denver Nuggets,99,Box Score,NaN,"16,332",NaN,"[2019, 4]"
16977,16977,"Wed, Apr 10, 2019",10:30p,Utah Jazz,137,LA Clippers,143,Box Score,OT,"17,655",NaN,"[2019, 4]"
16978,16978,"Wed, Apr 10, 2019",10:30p,Sacramento Kings,131,Portland Trail Blazers,136,Box Score,NaN,"19,814",NaN,"[2019, 4]"

    Annee                  est                  ouest
0    2005      Detroit Pistons      San Antonio Spurs
1    2006      Detroit Pistons       Dallas Mavericks
2    2007       Boston Celtics     Los Angeles Lakers
3    2008  Cleveland Cavaliers     Los Angeles Lakers
4    2009  Cleveland Cavaliers     Los Angeles Lakers
5    2010        Chicago Bulls      San Antonio Spurs
6    2011       Chicago Bulls       San Antonio Spurs
7    2012           Miami Heat  Oklahoma City Thunder
8    2013       Indiana Pacers      San Antonio Spurs
9    2014        Atlanta Hawks        Houston Rockets
10   2015  Cleveland Cavaliers  Golden State Warriors
11   2016       Boston Celtics  Golden State Warriors
12   2017      Toronto Raptors        Houston Rockets
13   2018      Milwaukee Bucks  Golden State Warriors

In [ ]:
#important : on exclut la saison 2011 (grève des joueurs) et des mois de novembre (2006, 2007, 2012) car il y a absence de données

In [155]:
#travail sur les stats par mois des équipes
#on essaye de déterminer chaque année le nombre de FGM (field goal par match) de l'équipe première de la saison régulière
meanOUESTTT = []
meanESTTT = []
for i in range(14):
    if i != 6:
        a = df_result['ouest'][i] #affecte à a le 1er de l'année 2005+i à l'ouest
        b = df_result['est'][i] #affecte à b le 1er de l'année 2005+i à l'est
        for k in range(1,31):
            if df_equipes.columns[k] == a:
                aN = k #affecte à aN le rang de l'équipe 1ère à l'ouest de l'année 2005+i dans les colonnes de df_equipes
            if df_equipes.columns[k] == b  :
                bN = k #affecte à bN le rang de l'équipe 1ère à l'est de l'année 2005+i dans les colonnes de df_equipes
        list1 = []
        list2 = []
        for j in range(1,98): #itère sur chaque ligne pour collecter les données de la saison 2005+ 
            if (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2005+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] >= 9) or (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] <= 5):#vérifie que la ligne est dans la saison que l'on souhaite étudier
                if literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2007 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2012:
                    if literal_eval(df_equipes["Unnamed: 0"][j])[1] != 10:
                        list1.append(float(literal_eval(df_equipes[df_equipes.columns[aN]][j])['FGM']))
                        list2.append(float(literal_eval(df_equipes[df_equipes.columns[bN]][j])['FGM']))
                        #print('année',i,'valide',list1,list2,'mois',j)
                else :
                    list1.append(float(literal_eval(df_equipes[df_equipes.columns[aN]][j])['FGM']))
                    list2.append(float(literal_eval(df_equipes[df_equipes.columns[bN]][j])['FGM']))
                    #print('année',i,'valide',list1,list2,'mois',j)
                    
        meanOUESTTT.append(mean(list1))
        meanESTTT.append(mean(list2))


print(meanESTTT)
print(meanOUESTTT)

[36.416666666666664, 35.81666666666667, 36.38333333333333, 36.32857142857143, 37.44285714285714, 37.32857142857143, 38.266666666666666, 35.628571428571426, 38.457142857142856, 38.800000000000004, 39.01428571428572, 41.15714285714286, 43.51428571428572]
[36.36666666666667, 36.666666666666664, 39.63333333333333, 40.1, 37.528571428571425, 38.357142857142854, 38.38333333333333, 40.41428571428571, 36.82857142857143, 42.699999999999996, 42.871428571428574, 38.214285714285715, 44.471428571428575]

In [149]:
#on transforme les listes obtenues en dataframe afin de pouvoir bien visualiser 
years = []
for i in range(6):
    years.append(2005+i)
    
for i in range(7,14):
    years.append(2005+i)
    
colname = ['Moyenne de FGM pour le 1er de la saison régulière (est)'] 
colname2 = ['Moyenne de FGM pour le 1er de la saison régulière (ouest)'] 

meanFGMEST = pd.DataFrame(meanESTTT, years, colname)
meanFGMOUEST = pd.DataFrame(meanOUESTTT, years, colname2)

display(meanFGMEST)
display(meanFGMOUEST)

      Moyenne de FGM pour le 1er de la saison régulière (est)
2005                                          36.416667
2006                                          35.816667
2007                                          36.383333
2008                                          36.328571
2009                                          37.442857
2010                                          37.328571
2012                                          38.266667
2013                                          35.628571
2014                                          38.457143
2015                                          38.800000
2016                                          39.014286
2017                                          41.157143
2018                                          43.514286

      Moyenne de FGM pour le 1er de la saison régulière (ouest)
2005                                          36.366667
2006                                          36.666667
2007                                          39.633333
2008                                          40.100000
2009                                          37.528571
2010                                          38.357143
2012                                          38.383333
2013                                          40.414286
2014                                          36.828571
2015                                          42.700000
2016                                          42.871429
2017                                          38.214286
2018                                          44.471429

In [156]:
#on peut adapter le code pour toutes les autres valeurs et/ou pour d'autres valeurs statistiques

#ex : la même chose avec les lancers francs (FTM)

meanOUESTT = []
meanESTT = []
for i in range(14):
    if i != 6:
        a = df_result['ouest'][i] #affecte à a le 1er de l'année 2005+i à l'ouest
        b = df_result['est'][i] #affecte à b le 1er de l'année 2005+i à l'est
        for k in range(1,31):
            if df_equipes.columns[k] == a:
                aN = k #affecte à aN le rang de l'équipe 1ère à l'ouest de l'année 2005+i dans les colonnes de df_equipes
            if df_equipes.columns[k] == b  :
                bN = k #affecte à bN le rang de l'équipe 1ère à l'est de l'année 2005+i dans les colonnes de df_equipes
        list1 = []
        list2 = []
        for j in range(1,98): #itère sur chaque ligne pour collecter les données de la saison 2005+ 
            if (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2005+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] >= 9) or (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] <= 5):#vérifie que la ligne est dans la saison que l'on souhaite étudier
                if literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2007 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2012:
                    if literal_eval(df_equipes["Unnamed: 0"][j])[1] != 10:
                        list1.append(float(literal_eval(df_equipes[df_equipes.columns[aN]][j])['FTM']))
                        list2.append(float(literal_eval(df_equipes[df_equipes.columns[bN]][j])['FTM']))
                        #print('année',i,'valide',list1,list2,'mois',j)
                else :
                    list1.append(float(literal_eval(df_equipes[df_equipes.columns[aN]][j])['FTM']))
                    list2.append(float(literal_eval(df_equipes[df_equipes.columns[bN]][j])['FTM']))
                    #print('année',i,'valide',list1,list2,'mois',j)
                    
        meanOUESTT.append(mean(list1))
        meanESTT.append(mean(list2))
        
        
years = []
for i in range(6):
    years.append(2005+i)
    
for i in range(7,14):
    years.append(2005+i)
    
colname = ['Moyenne de FTM pour le 1er de la saison régulière (est)'] 
colname2 = ['Moyenne de FTM pour le 1er de la saison régulière (ouest)'] 

meanFTMEST = pd.DataFrame(meanESTT, years, colname)
meanFTMOUEST = pd.DataFrame(meanOUESTT, years, colname2)

display(meanFTMEST)
display(meanFTMOUEST)

      Moyenne de FTM pour le 1er de la saison régulière (est)
2005                                          17.216667
2006                                          18.666667
2007                                          20.433333
2008                                          18.771429
2009                                          19.057143
2010                                          18.228571
2012                                          17.200000
2013                                          18.671429
2014                                          15.285714
2015                                          15.757143
2016                                          18.214286
2017                                          16.957143
2018                                          18.242857

      Moyenne de FTM pour le 1er de la saison régulière (ouest)
2005                                          16.233333
2006                                          19.933333
2007                                          21.300000
2008                                          19.757143
2009                                          18.228571
2010                                          19.300000
2012                                          21.666667
2013                                          14.985714
2014                                          19.485714
2015                                          16.842857
2016                                          18.257143
2017                                          19.328571
2018                                          15.814286

In [157]:
#on va maintenant faire la même chose mais avec les moyennes de toutes les autres équipes afin de pouvoir comparer 

meanOUESTNULS = []
meanESTNULS = []
for i in range(14):
    if i != 6:
        a = df_result['ouest'][i] #affecte à a le 1er de l'année 2005+i à l'ouest
        b = df_result['est'][i] #affecte à b le 1er de l'année 2005+i à l'est
        for k in range(1,31):
            if df_equipes.columns[k] == a:
                aN = k #affecte à aN le rang de l'équipe 1ère à l'ouest de l'année 2005+i dans les colonnes de df_equipes
            if df_equipes.columns[k] == b  :
                bN = k #affecte à bN le rang de l'équipe 1ère à l'est de l'année 2005+i dans les colonnes de df_equipes
        list1 = []
        list2 = []
        for j in range(1,98): #itère sur chaque ligne pour collecter les données de la saison 2005+i
            if (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2005+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] >= 9) or (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] <= 5):#vérifie que la ligne est dans la saison que l'on souhaite étudier
                if literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2007 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2012:
                    if literal_eval(df_equipes["Unnamed: 0"][j])[1] != 10:
                        for k in range(1,31):
                            if k != aN and k != bN:
                                list1.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])['FTM']))
                                list2.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])['FTM']))
                                #print('année',i,'valide',list1,list2,'mois',j)
                else :
                    for k in range(1,31):
                            if k != aN and k != bN:
                                list1.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])['FTM']))
                                list2.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])['FTM']))
                                #print('année',i,'valide',list1,list2,'mois',j)
                    
        meanOUESTNULS.append(mean(list1))
        meanESTNULS.append(mean(list2))
        
years = []
for i in range(6):
    years.append(2005+i)
    
for i in range(7,14):
    years.append(2005+i)
    
colname = ['Moyenne de FTM pour les non-1ers de la saison régulière (est)'] 
colname2 = ['Moyenne de FTM pour les non-1ers de la saison régulière (ouest)'] 

meanFTMESTNULS = pd.DataFrame(meanESTNULS, years, colname)
meanFTMOUESTNULS = pd.DataFrame(meanOUESTNULS, years, colname2)

display(meanFTMESTNULS)
display(meanFTMOUESTNULS)

      Moyenne de FTM pour les non-1ers de la saison régulière (est)
2005                                          19.785714
2006                                          19.644643
2007                                          18.611905
2008                                          19.188265
2009                                          18.875510
2010                                          18.773980
2012                                          16.480952
2013                                          17.962245
2014                                          17.318367
2015                                          18.103571
2016                                          17.881633
2017                                          16.493367
2018                                          17.692347

      Moyenne de FTM pour les non-1ers de la saison régulière (ouest)
2005                                          19.785714
2006                                          19.644643
2007                                          18.611905
2008                                          19.188265
2009                                          18.875510
2010                                          18.773980
2012                                          16.480952
2013                                          17.962245
2014                                          17.318367
2015                                          18.103571
2016                                          17.881633
2017                                          16.493367
2018                                          17.692347

In [124]:
#on stocke le nom de chaque variable afin de pouvoir ensuite automatiser

liste_variables = ['GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL','BLK', 'BLKA', 'PF', 'PFD', '+/-']
print(len(liste_variables))

26

In [159]:
#on automatise le code pour qu'ils stocke les moyennes des 1ers et de tous les non-premiers sur chaque variable

liste_moyennes_1er = []
for l in liste_variables : 
    meanOUEST1 = []
    meanEST1 = []
    for i in range(14):
        if i != 6:
            a = df_result['ouest'][i] #affecte à a le 1er de l'année 2005+i à l'ouest
            b = df_result['est'][i] #affecte à b le 1er de l'année 2005+i à l'est
            for k in range(1,31):
                if df_equipes.columns[k] == a:
                    aN = k #affecte à aN le rang de l'équipe 1ère à l'ouest de l'année 2005+i dans les colonnes de df_equipes
                if df_equipes.columns[k] == b  :
                    bN = k #affecte à bN le rang de l'équipe 1ère à l'est de l'année 2005+i dans les colonnes de df_equipes
            list1 = []
            list2 = []
            for j in range(1,98): #itère sur chaque ligne pour collecter les données de la saison 2005+ 
                if (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2005+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] >= 9) or (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] <= 5):#vérifie que la ligne est dans la saison que l'on souhaite étudier
                    if literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2007 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2012:
                        if literal_eval(df_equipes["Unnamed: 0"][j])[1] != 10:
                            list1.append(float(literal_eval(df_equipes[df_equipes.columns[aN]][j])[l]))
                            list2.append(float(literal_eval(df_equipes[df_equipes.columns[bN]][j])[l]))
                            #print('année',i,'valide',list1,list2,'mois',j)
                    else :
                        list1.append(float(literal_eval(df_equipes[df_equipes.columns[aN]][j])[l]))
                        list2.append(float(literal_eval(df_equipes[df_equipes.columns[bN]][j])[l]))
                        #print('année',i,'valide',list1,list2,'mois',j)

            meanOUEST1.append(mean(list1))
            meanEST1.append(mean(list2))
    liste_moyennes_1er.append([l,meanOUEST1, meanEST1])
    
print(liste_moyennes_1er[4])

liste_moyennes_nuls = []
for l in liste_variables :
    meanOUESTNULS1 = []
    meanESTNULS1 = []
    for i in range(14):
        if i != 6:
            a = df_result['ouest'][i] #affecte à a le 1er de l'année 2005+i à l'ouest
            b = df_result['est'][i] #affecte à b le 1er de l'année 2005+i à l'est
            for k in range(1,31):
                if df_equipes.columns[k] == a:
                    aN = k #affecte à aN le rang de l'équipe 1ère à l'ouest de l'année 2005+i dans les colonnes de df_equipes
                if df_equipes.columns[k] == b  :
                    bN = k #affecte à bN le rang de l'équipe 1ère à l'est de l'année 2005+i dans les colonnes de df_equipes
            list1 = []
            list2 = []
            for j in range(1,98): #itère sur chaque ligne pour collecter les données de la saison 2005+i
                if (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2005+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] >= 9) or (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] <= 5):#vérifie que la ligne est dans la saison que l'on souhaite étudier
                    if literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2007 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2012:
                        if literal_eval(df_equipes["Unnamed: 0"][j])[1] != 10:
                            for k in range(1,31):
                                if k != aN and k != bN:
                                    list1.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                    list2.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                    #print('année',i,'valide',list1,list2,'mois',j)
                    else :
                        for k in range(1,31):
                                if k != aN and k != bN:
                                    list1.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                    list2.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                    #print('année',i,'valide',list1,list2,'mois',j)

            meanOUESTNULS1.append(mean(list1))
            meanESTNULS1.append(mean(list2))
    liste_moyennes_nuls.append([l,meanOUESTNULS1, meanESTNULS1])

print(liste_moyennes_nuls[11])

['MIN', [48.31666666666666, 48.166666666666664, 48.23333333333333, 48.199999999999996, 48.285714285714285, 48.24285714285714, 48.31666666666666, 48.17142857142857, 48.24285714285714, 48.457142857142856, 48.199999999999996, 48.142857142857146, 48.25714285714286], [48.36666666666667, 48.449999999999996, 48.21666666666667, 48.228571428571435, 48.214285714285715, 48.300000000000004, 48.5, 48.199999999999996, 48.1, 48.457142857142856, 48.142857142857146, 48.371428571428574, 48.228571428571435]]
['3P%', [35.4625, 35.62083333333334, 35.730357142857144, 35.766836734693875, 35.179081632653066, 35.345408163265304, 35.50476190476191, 35.804591836734694, 34.454081632653065, 34.79489795918367, 35.18571428571428, 36.06581632653061, 35.479081632653056], [35.4625, 35.62083333333334, 35.730357142857144, 35.766836734693875, 35.179081632653066, 35.345408163265304, 35.50476190476191, 35.804591836734694, 34.454081632653065, 34.79489795918367, 35.18571428571428, 36.06581632653061, 35.479081632653056]]

In [175]:
#ici on fait la même chose mais avec toutes les équipes (sans exclure le premier), ce qui nous servira pour calculer les rapports

liste_moyennes_nuls1ER = []
for l in liste_variables :
    meanOUESTNULS1ER = []
    meanESTNULS1ER = []
    for i in range(14):
        if i != 6:
            a = df_result['ouest'][i] #affecte à a le 1er de l'année 2005+i à l'ouest
            b = df_result['est'][i] #affecte à b le 1er de l'année 2005+i à l'est
            for k in range(1,31):
                if df_equipes.columns[k] == a:
                    aN = k #affecte à aN le rang de l'équipe 1ère à l'ouest de l'année 2005+i dans les colonnes de df_equipes
                if df_equipes.columns[k] == b  :
                    bN = k #affecte à bN le rang de l'équipe 1ère à l'est de l'année 2005+i dans les colonnes de df_equipes
            list1 = []
            list2 = []
            for j in range(1,98): #itère sur chaque ligne pour collecter les données de la saison 2005+i
                if (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2005+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] >= 9) or (literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006+i and literal_eval(df_equipes["Unnamed: 0"][j])[1] <= 5):#vérifie que la ligne est dans la saison que l'on souhaite étudier
                    if literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2006 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2007 or literal_eval(df_equipes["Unnamed: 0"][j])[0] == 2012:
                        if literal_eval(df_equipes["Unnamed: 0"][j])[1] != 10:
                            for k in range(1,31):
                                list1.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                list2.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                #print('année',i,'valide',list1,list2,'mois',j)
                    else :
                        for k in range(1,31):
                                list1.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                list2.append(float(literal_eval(df_equipes[df_equipes.columns[k]][j])[l]))
                                #print('année',i,'valide',list1,list2,'mois',j)

            meanOUESTNULS1ER.append(mean(list1))
            meanESTNULS1ER.append(mean(list2))
    liste_moyennes_nuls1ER.append([l,meanOUESTNULS1ER, meanESTNULS1ER])

In [174]:
#on calcule la somme des différences entre moyenne du premier et des non-premiers pour chaque variable

liste_écartsEST = []
liste_écartsOUEST = []
for i in range(len(liste_variables)) :
    aT = 0
    bT = 0
    for j in range(13) :
        a = liste_moyennes_1er[i][1][j] - liste_moyennes_nuls[i][1][j]
        b = liste_moyennes_1er[i][2][j] - liste_moyennes_nuls[i][2][j]
        aT = aT + a
        bT = bT + b
    liste_écartsOUEST.append([aT])
    liste_écartsEST.append([bT])
                         
colname3 = ['écart entre le 1er et le reste des variables en conférence ouest']
colname4 = ['écart entre le 1er et le rest des variables en conférence est']
                         
ECARTest = pd.DataFrame(liste_écartsEST, liste_variables, colname3)
ECARTouest = pd.DataFrame(liste_écartsOUEST, liste_variables, colname4)

display(ECARTest)
display(ECARTouest)

      écart entre le 1er et le reste des variables en conférence ouest
GP                                             0.130952
W                                             40.551871
L                                            -40.420918
WIN%                                           3.050402
MIN                                           -0.847959
PTS                                           19.122024
FGM                                            3.602126
FGA                                          -20.113265
FG%                                           15.718963
3PM                                           15.825085
3PA                                           32.661310
3P%                                           21.579847
FTM                                           -4.110119
FTA                                           -5.290136
FT%                                           -1.148469
OREB                                          -9.362585
DREB                                          14.291071
REB                                            4.970493
AST                                           16.219388
TOV                                           -7.865391
STL                                           -0.322024
BLK                                            8.061650
BLKA                                          -4.718367
PF                                            -8.911990
PFD                                           -3.630017
+/-                                           89.563776

      écart entre le 1er et le rest des variables en conférence est
GP                                             0.130952
W                                             44.528061
L                                            -44.397109
WIN%                                           3.583640
MIN                                           -1.390816
PTS                                           71.643452
FGM                                           21.583078
FGA                                            2.489116
FG%                                           24.109439
3PM                                           24.313180
3PA                                           47.466071
3P%                                           33.236990
FTM                                            4.320833
FTA                                            0.390816
FT%                                           15.968197
OREB                                          -4.529252
DREB                                          20.279167
REB                                           15.701446
AST                                           25.567007
TOV                                           -0.820153
STL                                            5.911310
BLK                                            9.840221
BLKA                                          -8.027891
PF                                            -6.488180
PFD                                           -1.777636
+/-                                          103.613776

In [204]:
#On calcule la moyenne pondérée par la moyenne totale de chaque variable (supérieure à 1 --> variable significative)
liste_écarts_pondérésOUEST = []
liste_écarts_pondérésEST = []
for i in range(len(liste_variables)) :
    liste_moyennes_pondéréesEST = []
    liste_moyennes_pondéréesOUEST = []
    for j in range(13) :
        a = (liste_moyennes_1er[i][1][j]/liste_moyennes_nuls1ER[i][1][j])
        b = (liste_moyennes_1er[i][2][j]/liste_moyennes_nuls1ER[i][2][j])
        liste_moyennes_pondéréesEST.append(a)
        liste_moyennes_pondéréesOUEST.append(b)
    liste_écarts_pondérésEST.append(mean(liste_moyennes_pondéréesEST))
    liste_écarts_pondérésOUEST.append(mean(liste_moyennes_pondéréesOUEST))

colname3 = ['moyenne pondérée des variables en conférence ouest']
colname4 = ['moyenne pondérée des variables en conférence est']
                         
PONDEREEest = pd.DataFrame(liste_écarts_pondérésEST, liste_variables, colname3)
PONDEREEouest = pd.DataFrame(liste_écarts_pondérésOUEST, liste_variables, colname4)
display(PONDEREEest)
display(PONDEREEouest)

Liste_moyenne_pondereesOUESTEST = []
for i in range(len(liste_variables)) :
    a = (float(liste_écarts_pondérésEST[i]) + float(liste_écarts_pondérésOUEST[i]))/2
    Liste_moyenne_pondereesOUESTEST.append([a])
    
colname5 = ['moyenne pondérée des variables conférences confondues']

PONDEREE = pd.DataFrame(Liste_moyenne_pondereesOUESTEST, liste_variables, colname5)
display(PONDEREE)

      moyenne pondérée des variables en conférence ouest
GP                                             1.000695
W                                              1.522072
L                                              0.479317
WIN%                                           1.516559
MIN                                            0.997906
PTS                                            1.051485
FGM                                            1.041819
FGA                                            1.002806
FG%                                            1.038489
3PM                                            1.212795
3PA                                            1.143581
3P%                                            1.067938
FTM                                            1.021721
FTA                                            1.004637
FT%                                            1.015573
OREB                                           0.969754
DREB                                           1.046404
REB                                            1.027319
AST                                            1.082773
TOV                                            0.997572
STL                                            1.057868
BLK                                            1.145594
BLKA                                           0.879729
PF                                             0.978667
PFD                                            0.994824
+/-                                         -361.347535

      moyenne pondérée des variables en conférence est
GP                                            1.000693
W                                             1.469749
L                                             0.531637
WIN%                                          1.434607
MIN                                           0.998770
PTS                                           1.011502
FGM                                           1.005082
FGA                                           0.981518
FG%                                           1.024306
3PM                                           1.135305
3PA                                           1.093080
3P%                                           1.042998
FTM                                           0.983472
FTA                                           0.984123
FT%                                           0.998277
OREB                                          0.936526
DREB                                          1.030565
REB                                           1.007367
AST                                           1.051641
TOV                                           0.960184
STL                                           0.995449
BLK                                           1.120362
BLKA                                          0.932294
PF                                            0.970945
PFD                                           0.988326
+/-                                        -300.462408

      moyenne pondérée des variables conférences confondues
GP                                             1.000694
W                                              1.495911
L                                              0.505477
WIN%                                           1.475583
MIN                                            0.998338
PTS                                            1.031494
FGM                                            1.023450
FGA                                            0.992162
FG%                                            1.031397
3PM                                            1.174050
3PA                                            1.118331
3P%                                            1.055468
FTM                                            1.002597
FTA                                            0.994380
FT%                                            1.006925
OREB                                           0.953140
DREB                                           1.038485
REB                                            1.017343
AST                                            1.067207
TOV                                            0.978878
STL                                            1.026658
BLK                                            1.132978
BLKA                                           0.906011
PF                                             0.974806
PFD                                            0.991575
+/-                                         -330.904972

In [22]:
df_match.describe()

         Unnamed: 0           PTS         PTS.1
count  16979.000000  16979.000000  16979.000000
mean    8489.000000     99.822133    102.724306
std     4901.559446     12.602612     12.640918
min        0.000000     54.000000     59.000000
25%     4244.500000     91.000000     94.000000
50%     8489.000000     99.000000    102.000000
75%    12733.500000    108.000000    111.000000
max    16978.000000    168.000000    168.000000

In [163]:
#stocke les moyennes de points marqués à l'éxtérieur,à domicile et les deux confondus chaque année.
listannsdom = []
list = []

for j in range(14) :
    for i in range(16979):
        if literal_eval(df_match["Y-M"][i])[0] == 2005+j:
            list.append(df_match['PTS'][i])
    listannsdom.append(list)
    list = []
    
listannsext = []
listtt = []

for j in range(14) :
    for i in range(16979):
        if literal_eval(df_match["Y-M"][i])[0] == 2005+j:
            listtt.append(df_match['PTS.1'][i])
    listannsext.append(listtt)
    listtt = []


print("test")

means = []
for i in range(len(listannsdom)):
    mean1 = mean(listannsdom[i])
    means.append(mean1)

meanss = []
for i in range(len(listannsext)):
    mean1 = mean(listannsext[i])
    meanss.append(mean1)

meansss = [] 
for i in range (len(listannsext)):
    mean1 = (meanss[i] + means[i])/2 #on peut faire ça car il y a le même nombre de matchs à l'éxtérieur et à domicile
    meansss.append(mean1)
    
    
print(means)
print(meanss)
print(meansss)

test
[94.7926267281106, 95.96485623003196, 97.4910569105691, 98.25922953451044, 98.57920389926889, 98.82566585956417, 98.0410447761194, 95.20863309352518, 97.69410815173526, 99.89317269076305, 98.93457189014539, 102.6327185244587, 104.47634069400631, 107.28444084278769]
[97.5552995391705, 99.6261980830671, 100.15528455284553, 101.47191011235955, 102.17465475223396, 101.65617433414043, 101.03855721393035, 98.2251798561151, 100.38902340597255, 102.47469879518073, 101.53150242326333, 105.4803528468324, 107.29495268138801, 109.76499189627229]
[96.17396313364056, 97.79552715654953, 98.82317073170731, 99.865569823435, 100.37692932575143, 100.2409200968523, 99.53980099502488, 96.71690647482015, 99.04156577885391, 101.1839357429719, 100.23303715670437, 104.05653568564554, 105.88564668769716, 108.52471636952998]

In [147]:
#on transforme en dataframe afin de pouvoir visualiser
years = []
for i in range(14):
    years.append(2005+i)

colname = ['Moyenne de points marqués chaque année (domicile)'] 
colname2 = ['Moyenne de points marqués chaque année (extérieur)'] 
colname3 = ['Moyenne de points marqués chaque année (confondu)']

meanPTS = pd.DataFrame(means, years, colname)
meanPTS1 = pd.DataFrame(meanss, years, colname2)
meanPTS2 = pd.DataFrame(meansss, years, colname3)

display(meanPTS)
display(meanPTS1)
display(meanPTS2)

      Moyenne de points marqués chaque année (domicile)
2005                                          94.792627
2006                                          95.964856
2007                                          97.491057
2008                                          98.259230
2009                                          98.579204
2010                                          98.825666
2011                                          98.041045
2012                                          95.208633
2013                                          97.694108
2014                                          99.893173
2015                                          98.934572
2016                                         102.632719
2017                                         104.476341
2018                                         107.284441

      Moyenne de points marqués chaque année (extérieur)
2005                                          97.555300
2006                                          99.626198
2007                                         100.155285
2008                                         101.471910
2009                                         102.174655
2010                                         101.656174
2011                                         101.038557
2012                                          98.225180
2013                                         100.389023
2014                                         102.474699
2015                                         101.531502
2016                                         105.480353
2017                                         107.294953
2018                                         109.764992

      Moyenne de points marqués chaque année (confondu)
2005                                          96.173963
2006                                          97.795527
2007                                          98.823171
2008                                          99.865570
2009                                         100.376929
2010                                         100.240920
2011                                          99.539801
2012                                          96.716906
2013                                          99.041566
2014                                         101.183936
2015                                         100.233037
2016                                         104.056536
2017                                         105.885647
2018                                         108.524716

In [164]:
#donne le nombre de points moyens marqués par match par les équipes 1ères de leurs conférences en 2007/2008
list2 = []
for i in range(16979):
        if (literal_eval(df_match["Y-M"][i])[0] == 2007 and literal_eval(df_match["Y-M"][i])[1] >= 9) or (literal_eval(df_match["Y-M"][i])[0] == 2008 and literal_eval(df_match["Y-M"][i])[1] <= 5) :
                if df_match['Visitor/Neutral'][i] == 'Utah Jazz':
                    list2.append(df_match['PTS'][i])
                elif df_match['Home/Neutral'][i] == 'Utah Jazz':
                    list2.append(df_match['PTS.1'][i])
mean2007ouest = mean(list2)

print(len(list2))
print(mean2007ouest)

list2 = []
for i in range(16979):
        if (literal_eval(df_match["Y-M"][i])[0] == 2007 and literal_eval(df_match["Y-M"][i])[1] >= 9) or (literal_eval(df_match["Y-M"][i])[0] == 2008 and literal_eval(df_match["Y-M"][i])[1] <= 5) :
                if df_match['Visitor/Neutral'][i] == 'Boston Celtics':
                    list2.append(df_match['PTS'][i])
                elif df_match['Home/Neutral'][i] == 'Boston Celtics':
                    list2.append(df_match['PTS.1'][i])
mean2007est = mean(list2)
print(len(list2))
print(mean2007est)

82
106.21951219512195
82
100.54878048780488

In [165]:
#donne nb de points moyens marqués par match par les équipes 1ères de leurs conférences sur toutes les saisons
#2011 est exclu car la saison est tronquée par une grève des joueurs

meanEST = []
meanOUEST = []

for i in range(14):
        if i != 6:
            list2 = []
            list3 = []
            for k in range(16979):
                if (literal_eval(df_match["Y-M"][k])[0] == 2005+i and literal_eval(df_match["Y-M"][k])[1] >= 9) or (literal_eval(df_match["Y-M"][k])[0] == 2006+i and literal_eval(df_match["Y-M"][k])[1] <= 5):
                        if df_match['Visitor/Neutral'][k] == df_result['ouest'][i]:
                            list2.append(df_match['PTS'][k])
                        elif df_match['Home/Neutral'][k] == df_result['ouest'][i]:
                            list2.append(df_match['PTS.1'][k])
                        if df_match['Visitor/Neutral'][k] == df_result['est'][i]:
                            list3.append(df_match['PTS'][k])
                        elif df_match['Home/Neutral'][k] == df_result['est'][i]:
                            list3.append(df_match['PTS.1'][k])
            meanEST.append(mean(list2))
            meanOUEST.append(mean(list3))

    
print(meanEST)
print(meanOUEST)

[95.57317073170732, 100.01219512195122, 108.58536585365853, 106.92682926829268, 101.6951219512195, 103.6829268292683, 105.71951219512195, 105.35365853658537, 103.92682926829268, 114.89024390243902, 115.89024390243902, 112.35365853658537, 117.6829268292683]
[96.84146341463415, 96.0, 100.54878048780488, 100.28048780487805, 102.10975609756098, 98.6219512195122, 102.8780487804878, 96.7439024390244, 102.54878048780488, 104.32926829268293, 108.01219512195122, 111.65853658536585, 118.1219512195122]

In [70]:
#on stocke les données dans un dataframe pour les visualiser
years = []
for i in range(6):
    years.append(2005+i)
    
for i in range(7,14):
    years.append(2005+i)
    
colname = ['Moyenne de points marqués chaque année par le premier du championnat (est)'] 
colname2 = ['Moyenne de points marqués chaque année par le premier du championnat (ouest)'] 

mean3 = pd.DataFrame(meanEST, years, colname)
mean4 = pd.DataFrame(meanOUEST, years, colname2)



display(mean3)
display(mean4)

      Moyenne de points marqués chaque année par le premier du championnat (est)
2005                                          95.573171
2006                                         100.012195
2007                                         108.585366
2008                                         106.926829
2009                                         101.695122
2010                                         103.682927
2012                                         105.719512
2013                                         105.353659
2014                                         103.926829
2015                                         114.890244
2016                                         115.890244
2017                                         112.353659
2018                                         117.682927

      Moyenne de points marqués chaque année par le premier du championnat (ouest)
2005                                          96.841463
2006                                          96.000000
2007                                         100.548780
2008                                         100.280488
2009                                         102.109756
2010                                          98.621951
2012                                         102.878049
2013                                          96.743902
2014                                         102.548780
2015                                         104.329268
2016                                         108.012195
2017                                         111.658537
2018                                         118.121951

In [229]:
#calcul de la valeur remplaçant la moyenne pondérée de la différence de points 
liste_arnaque = []
for i in range(13) :
        a = (meansss[i] + liste_moyennes_1er[25][1][i])/meansss[i]
        liste_arnaque.append(a)

moyennearnaqueplusmoins = mean(liste_arnaque)
print(moyennearnaqueplusmoins)

1.0749228162802171
[1.070358613144224, 1.0741342698464553, 1.0785915550893648, 1.1049982922468005, 1.032022156245231, 1.0538702158238626, 1.0959415219292765, 1.0711945257213842, 1.050051135784863, 1.1065951250711599, 1.0984847795841561, 1.0705660350354147, 1.067188386120631]